h1 {
  text-align: center;
  color: blueviolet;
}
#gitEm {
  color: rgb(162, 70, 3);
}
img {
  width: 75%;
  display: block;
  border-radius: 15px;
  margin: 20px auto;
}
body {
  background-color: darkgray;
}
